/* Task: Reuse and repeat */

:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-colour: var(--color-black);
}

body {
    color: var(--text-colour);
}

a {
    color: var(--text-colour);
}

.visually-hidden {
    display: none;
}

.card-category {
    display: none;
}

.section-tagline {
    color: var(--color-primary);
}
